[include mainsail.cfg]
[include include/*.cfg]
[include K-ShakeTune/*.cfg]

[mcu]
canbus_uuid: 323c0d4c860a

# update 
# python3 ~/katapult/scripts/flashtool.py -i can0 -u 323c0d4c860a -r
# python3 ~/katapult/scripts/flashtool.py -f ~/klipper/out/klipper.bin -d /dev/serial/by-id/usb-katapult_


[mcu toolhead]
canbus_uuid: f0eac3f5e564
# update
# python3 ~/katapult/scripts/flashtool.py -i can0 -u f0eac3f5e564 -f ~/klipper/out/klipper.bin

[virtual_sdcard]
path: /home/trev/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: true

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 20000
square_corner_velocity: 5.0
max_z_velocity: 10
max_z_accel: 30

[exclude_object]

[extruder]
nozzle_diameter: 0.400
max_extrude_cross_section: 12
pressure_advance: 0.015                                              
pressure_advance_smooth_time: 0.040

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 71.6
shaper_type_y = mzv
shaper_freq_y = 82.4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner]
#*# mode = touch
#*#
#*# [scanner model default]
#*# model_coef = 1.33126651738737,
#*# 	  1.7633134000430581,
#*# 	  0.7699507357789586,
#*# 	  0.3320683884259583,
#*# 	  0.4129770678242035,
#*# 	  0.5441328190457692,
#*# 	  -0.25404044683310956,
#*# 	  -0.516975667146195,
#*# 	  0.29002918374399167,
#*# 	  0.3284309495341899
#*# model_domain = 3.167983097481061e-07,3.33784044410726e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 27.556483
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
