## Bed heater configuration
## ----------------------------------------
[heater_bed]
heater_pin: PA5
sensor_pin: PA0 
sensor_type: Generic 3950
max_power: 1
min_temp: 0
max_temp: 120
control: pid
pid_Kp: 55.961
pid_Ki: 1.574
pid_Kd: 497.355


